---
import { Image } from "astro:assets";
import BaseLayout from "../layouts/BaseLayout.astro";

import Heading1 from "../assets/home-heading-1.jpg";
import Heading2 from "../assets/home-heading-2.jpg";
---

<BaseLayout>
  <main class="flex flex-col items-center w-full">
    <div class="pt-32 h-[100vh] snap-y" id="home-first">
      <div class="flex felx-col items-center gap-6">
        <h1 class="text-[85px] font-bold">Build</h1>
        <h1 class="text-[85px] font-bold">Your</h1>
        <Image
          src={Heading1}
          height={150}
          class={"overflow-clip rounded-full"}
          alt={"A commercial building."}
        />
        <h1 class="text-[85px] font-bold">Dream</h1>
      </div>
      <div class="flex felx-col items-center gap-6">
        <Image
          src={Heading2}
          height={150}
          class={"overflow-clip rounded-full"}
          alt={"A residential building."}
        />
        <h1 class="text-[85px] font-bold">Property</h1>
        <h1 class="text-[85px] font-bold">With</h1>
        <h1 class="text-[85px] font-bold">SK</h1>
      </div>
      <div class="pt-14 flex w-full items-center justify-center">
        <p class="text-center max-w-3xl text-lg">
          Our main focus is the Development of High-Quality Real Estate with
          State-of-the-Art Architecture. We Challenge Conventional Residential
          and Commercial Construction
        </p>
      </div>
    </div>
    <div class="h-screen w-screen bg-black" id="home-second">
      <p class="text-center max-w-3xl text-lg pt-20 snap-y snap-center">
        Our main focus is the Development of High-Quality Real Estate with
        State-of-the-Art Architecture. We Challenge Conventional Residential and
        Commercial Construction
      </p>
    </div>
  </main>
</BaseLayout>

<style>
  #home-first {
    scroll-snap-align: start;
    background: linear-gradient(
        -90deg,
        rgba(0, 0, 0, 0.05) 1px,
        transparent 1px
      ),
      linear-gradient(rgba(0, 0, 0, 0.05) 1px, transparent 1px),
      linear-gradient(-90deg, rgba(0, 0, 0, 0.04) 1px, transparent 1px),
      linear-gradient(rgba(0, 0, 0, 0.04) 1px, transparent 1px),
      linear-gradient(
        transparent 3px,
        #db582c 3px,
        #db582c 78px,
        transparent 78px
      ),
      /* linear-gradient(-90deg, #aaa 1px, transparent 1px), */
        linear-gradient(
          -90deg,
          transparent 3px,
          #db582c 3px,
          #db582c 78px,
          transparent 78px
        );
    /* linear-gradient(#aaa 1px, transparent 1px), #db582c; */
    background-size: 4px 4px, 4px 4px, 80px 80px, 80px 80px, 80px 80px,
      80px 80px, 80px 80px, 80px 80px;
  }
</style>
