---
import NavItem from "./NavItem";
---

<nav
  class="fixed top-0 h-14 w-screen backdrop-blur-lg p-2 px-12 bg-transparent flex items-center justify-between"
>
  <a href="/" class="text-2xl font-bold tracking-tighter select-none">
    SK Associates
  </a>
  <ul class="flex items-center gap-6">
    <NavItem client:only="react" path="/" title="Home" />
    <NavItem client:only="react" path="/projects" title="Projects" />
    <NavItem client:only="react" path="/about" title="About" />
    <NavItem client:only="react" path="/services" title="Services" />
    <NavItem client:only="react" path="/contact" title="Contact" />
  </ul>
</nav>
