---
import NavBar from "../components/NavBar.astro";

import { ViewTransitions } from "astro:transitions";
---

<html>
  <head>
    <title>SK Associates</title>
    <link rel="stylesheet" href="/css/app.css" />

    <ViewTransitions />
    <style is:global>
      ::-webkit-scrollbar {
        width: 8px;
        margin-top: 5px;
        /* background: transparent; */
      }
      ::-webkit-scrollbar-thumb {
        background: #fff;
      }
      ::-webkit-scrollbar-track {
        background: #db582c;
      }
    </style></head
  >

  <body
    class="min-h-screen overflow-x-hidden w-screen flex flex-col items-center text-white"
  >
    <div class="min-h-screen w-screen bg-orange">
      <NavBar />
      <slot />
    </div>
  </body>
</html>
